    @import url('https://fonts.googleapis.com/css?family=Federo');

.gradient {
    background-image: linear-gradient(  to top left, black, gray, orange);
}

body {
    color: black;
    font-family: 'Federo', sans-serif;

}

.w3-padding w3-display-middle {
    border : solid black 0.5px;
}

#wrapper { 

        margin-left: 3em;
        margin-right: 3em;
        padding: 5px;
     
}


img {
    height: 400px;
    width: 815px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid orange  0.5px;
    background-image: "../images/et.jpeg";
    
}


h2, h1, h3, h4, h5,h6 {

    color: white;
    font-family: 'Federo', sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    color: white;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: orange;
    margin: 5px 5px 5px 5px;
}

section {
    border: solid orange 0.5px;
    max-width : 700px;
    max-height: 300px;
    margin: 2em;
}

.sources {

    float: right;
    opacity: 60%;
}