/* MOBILE VIEW  */

@media screen and (max-width: 2000px) {
    
body {
    color: black;
    background-image: url('../../images/backdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Alegreya Sans SC', sans-serif;
}

}


/* NAME FONT */

@font-face {
    font-family: bladerunner;
    src: url(/css/BLADRMF_.TTF);
    font-weight: bold;
}

div .name {
    font-family: bladerunner;
    font-size: 45px;
    overflow-x: hidden;
    color: black;
    text-shadow: 3px 3px 3px orange;
}

/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Alegreya Sans SC');



/*IMAGE */

img{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid orange 0.5px;
}



/* BACKGROUND DESIGN */



h2,
h1,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
}

footer {
    display: block;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    color: white;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: orange;
    margin: 9px 9px 9px 9px;
}


/* SIDENAV FOR SOURCES */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    text-align: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-size: 100% 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 5px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: orange;
    display: block;
    transition: 0.7s
}

.sidenav a:hover,
.offcanvas a:focus {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 20px;
    }
    .sidenav a {
        font-size: 30px;
    }
}


/* SECTION DROP DOWNS  */

.accboxes {
    display: block;
    margin: auto;
}

button.accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: orange;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: 0.7s;
}

section {
    border: solid orange 0.5px;
    max-width: auto;
    max-height: 400px;
    margin: 0.5em;
}

button.accordion.active,
button.accordion:hover {
    background-color: white;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 5;
}

div.content.show {
    opacity: 1;
    max-height: 500px;
}


/* PHOTO CARD  */

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: center;
    height: 40%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid orange 0.5px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Add some padding inside the card container */

.container {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 2px 8px;
    font-size: 30px;
    background: rgba(0, 0, 1, 0.5);
}